<nav class="header-nav">
  <a class="header-title" href="/">Libilry</a>
  <ul>
    <li><a class="header-link" href="/authors">All authors</a></li>
    <li><a class="header-link" href="/authors/new">Add author</a></li>
    <li><a class="header-link" href="/books">All books</a></li>
    <li><a class="header-link" href="/books/new">Add book</a></li>
  </ul>
</nav>