<nav>
  <a href="/">Libilry</a>
  <ul>
    <li><a href="/authors">All authors</a></li>
    <li><a href="/authors/new">Add author</a></li>
    <li><a href="/books">All books</a></li>
    <li><a href="/books/new">Add book</a></li>
  </ul>
</nav>