<nav class="header-nav">
  <a class="header-title" href="/">Libilry</a>
  <ul>
    <li><a class="header-link" href="/authors">All authors</a></li>
    <li><a class="header-link" href="/authors/new">Add author</a></li>
    <li><a class="header-link" href="/books">All books</a></li>
    <li><a class="header-link" href="/books/new">Add book</a></li>
  </ul>

  <% if (typeof user != 'undefined') { %> 
    <ul>
      <li><a class="header-link" href="/users/show">My profile</a></li>
      <li><a class="header-link" href="/users/logout">Logout</a></li>
    </ul>
  <% } else { %>
    <ul>
      <li><a class="header-link" href="/users/login">Sign In</a></li>
      <li><a class="header-link" href="/users/new">Sign Up</a></li>
    </ul>
  <% } %> 

  

</nav>