<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <script defer src="/javascript/imagePreview.js"></script>
  <title>Libilry</title>
</head>
<body>
  <div class="container">
    <%- include('../partials/header.ejs') %>
    <% if (typeof user != 'undefined' ) { %>
      <h3>Welcome <%= user.username %> </h3>
    <% } %> 
    <div class="inner-contianer">
      <%- include('../partials/errorMessage.ejs') %>
      <%-body%>
    </div>
    </div>
  <hr>
  Bottom

</body>
</html>