<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Homepage</h1>
  
  <div>
    <h2>Recently Added</h2>
    <% books.forEach((book, index)=> { %>
      <div>
        <h3>
          <%= book.title %>
        </h3>
        <a href="/books/<%= book.id %>">
          <img height='150' src="data:<%= book.imgMimeType %>;base64,<%= base64Files[index] %>" alt="image">
        </a>
      </div>
      <% }) %>
  </div>
</body>
</html>