<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Homepage</h1>
  

  
  <div>
    <h2>Recently Added</h2>
    <% for(let i=0; i<books.length; i++) { %>
      <div>
        <h3>
          <%= books[i].title %>
        </h3>
        <img height='150' src="data:<%= books[i].imgMimeType %>;base64,<%= base64Files[i] %>" alt="image">
  
      </div>
      <% } %>
  </div>
</body>
</html>