<h1 class="page-header">Sign Up</h1>

<form action="/users/" method="POST">
  <div class="form-item">
    <label class="item-name" for="username">Username : </label>
    <input type="text" id="username" name="username">
  </div>
  <div class="form-item">
    <label class="item-name" for="email">Email</label>
    <input type="email" id="email" name="email">
  </div>
  <div class="form-item">
    <label class="item-name" for="password">Password</label>
    <input type="password" id="password" name="password">
  </div>
  <div class="form-item">
    <label class="item-name" for="password">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword">
  </div>
  <button class="btn btn-primary" type='submit'>Sign Up</button>
</form>