<h2 class="page-header">New Author</h2>

<form action="/authors/" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name">
  <button class="btn btn-primary" type="submit">Submit</button>
  <a class="btn btn-primary" href="/authors">Cancel</a>
</form>